/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #caf0f8;
  padding: 20px 10px;
  padding-left: 575px;
  text-align: center;
}



/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 30px;
  font-weight: bold;
  
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: #03045e;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}






.top {
    background-color: #03045e;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
  }
  
 
  .top a {
    float: left;
    color: #caf0f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .top a:hover {
    background-color: #e2eafc;
    color: black;
  }
  
  
  .top a.active {
    background-color: #00b4d8;
    color:black;
  }

/* image gallery */
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
 
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/* newsletter */

form {
    border: 4px solid #f1f1f1;
  }
  
 
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
